.main-container {
  background-color: #f0f3f8;
  /* background-color: blue; */
  display: flex;
}

.vert-nav {
  background-color: red;
  display: flex;
}
.row {
  background-color: #f0f3f8;
}
.main-content {
  background-color: #f0f3f8;

  /* margin-left: 20px;
  padding: 30px; */
  /* background-color: red; */
}
.sub-main-content {
  /* background-color: blue; */
}
