.container {
  background-color: white;
  min-height: 150px;
  word-wrap: break-word;
  box-sizing: content-box;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Personality-img {
  display: grid;
  grid-column: 1/2;
  vertical-align: middle;
}
