body {
  background-color: #f3f3f3;
}
/* This is using mixed with BOOTSTRAPS default CSS */
.container2 {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
/* Still need to get this to work with the main banner */
/* .background {
  background-image: url(../../assets/banner-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  max-height: 1000px;
  z-index: -1;
} */

/* Need to get the flag under profile-image */
/* .image-socials {
  border: 1px solid green;
} */
.user-image {
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  height: 175px;
  width: 175px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.user-image img {
  height: auto;
  width: 100%;
  border-radius: 50%;
  margin-top: -40px;
}
.social-icons {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: space-evenly;
}
.social-icons i {
  border: 2px solid #3b88e3;
  color: #3b88e3;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
}
.user-content {
  /* display: flex; */
  text-align: left;
  margin-left: 30px;
  max-width: 70%;
  /* flex-wrap: wrap; */
}

.user-name {
  display: flex;
  align-items: center;
}
.user-pronouns {
  font-size: 12px;
  margin-left: 5px;
  color: #afb2b9;
}
.user-titles {
  font-size: 14px;
  color: #afb2b9;
}
.user-overview {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f0f3f8;
}
.user-overview p {
  line-height: 1.1;
  font-size: 14px;
}

@media (max-width: 726px) {
  .container2 {
    justify-content: center;
    padding: 10px;
  }
  .user-name {
    justify-content: center;
    margin-top: 15px;
  }
}
